$background-color: #f7f8f6;

$text-primary-color: #141414;

$accent-color-primary: #00a6ff;

$color-white: #ffffff;
$color-black: #030303;

.container {
  padding: 1.6rem 2.4rem;
  width: 80%;
  background-color: $color-white !important  ;
  border: 1px solid $color-black;
  border-radius: 1rem;
  margin: auto auto;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
}

.outline {
  outline: 1px solid lime;
}

.form {
  &-label {
    font-size: 1.6rem;
  }

  &-select,
  &-input {
    width: 90%;
    margin-left: 1rem;
    font-size: 1.4rem;
  }
}
