$background-color: #191923;

$text-primary-color: #fbfef9;

$accent-color-primary: #0e79b2;

html {
  font-size: 62.5%;
}

.container-fluid {
  background-color: $background-color;
  width: 100vw;
  height: 100vh;
  color: $text-primary-color;
  padding: 1rem 1.4rem 0 0;
  // padding-left: 0;
}

.outline {
  outline: 1px solid lime;
}

.main {
  display: flex;
  flex-direction: row;
  padding-left: 0 !important;

  &-sidebar {
    height: 90vh;
    width: 20%;
    font-size: 2rem;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    &-list {
      // padding: 0.5rem 1rem;
      list-style: none;
      margin: 1rem;
      &-item {
        background-color: $text-primary-color;
        color: $background-color;
        margin: 1.2rem 0.5rem;
        cursor: pointer;
        padding: 1rem 1.4rem;
        border-radius: 1rem;
      }
    }
  }

  &-container {
    &-btn {
      font-size: 1.4rem;
      padding: 0 1.6rem;
    }
  }

  &-title {
    h1 {
      margin-left: 1rem;
    }
  }

  &-container {
    width: 100%;
  }
}

.overlay {
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.delete {
  &-card {
    z-index: 12;
    height: max-content;
    width: max-content;
    color: #000;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
  }

  &-btn {
    font-size: 1.4rem;
  }
}

.footer {
  background-color: $text-primary-color;
  color: $background-color;
  padding: 1rem 2rem;
  margin: 0;
  font-size: 1.6rem;
  border-radius: 1rem;
}
