$background-color: #191923;

$text-primary-color: #fbfef9;

$accent-color-primary: #0e79b2;

.view-group-link {
  background-color: #fbfef9;
  margin: 0 1rem;
  padding: 0.8rem;
  font-size: 1.6rem;
  border-radius: 5px;
}

.container {
  padding: 1.6rem 2.4rem;
  width: 75%;
  background-color: #272736;
  border: 2px solid #06a8ff;
  border-radius: 1rem;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(14, 121, 178, 0.2),
    0 2px 2px 0 rgba(14, 121, 178, 0.14), 0 1px 5px 0 rgba(14, 121, 178, 0.12);
}

.list-group {
  li {
    color: $text-primary-color;
  }
}

.custom-line {
  opacity: 0.75;
}

.font-size {
  font-size: 1.4rem;
}
