<div class="main container">

  <div *ngIf="showOptions" class="mb-lg-5">
    <ul class="nav justify-content-center">
      <li class="nav-link link-secondary view-group-link">
        <i class="bi bi-people"></i>
        Group Name: {{selectedGroup}}
      </li>
      <li *ngFor="let route of routes" class="nav-item">
        <a [routerLink]="route.path" class="nav-link link-secondary view-group-link">
          <i class={{route.icon}}></i>
          {{route.name}}
        </a>
      </li>
    </ul>
    <hr class="custom-line">
    <h3 class="mb-2">Members</h3>
    <ul class="list-group">
      <li class="list-group-item bg-transparent" *ngFor="let member of members">
        {{member}}
      </li>
    </ul>
  </div>

</div>