$background-color: #f7f8f6;

$text-primary-color: #141414;

$accent-color-primary: #00a6ff;

$color-white: #ffffff;
$color-black: #030303;

.view-group-link {
  background-color: #e1e2db;
  margin: 0 1rem;
  padding: 0.8rem;
  font-size: 1.6rem;
  border-radius: 5px;
  color: $color-black !important;
  transition: all 0.3s ease;
  padding: 1rem 2rem;
  &:hover {
    background-color: #f5f5dc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
}

.container {
  padding: 1.6rem 2.4rem;
  width: 75%;
  background-color: $background-color;
  border: 1px solid $color-black;
  border-radius: 1rem;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(225, 226, 219, 0.2),
    0 2px 2px 0 rgba(225, 121, 219, 0.14), 0 1px 5px 0 rgba(225, 121, 219, 0.12);
}

.list-group {
  li {
    color: $text-primary-color;
  }
}

.custom-line {
  opacity: 0.75;
}

.font-size {
  font-size: 1.4rem;
}

.overlay {
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.delete {
  &-card {
    z-index: 12;
    height: max-content;
    width: 36rem;
    max-width: 50rem;
    color: #000;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
  }

  &-btn {
    font-size: 1.4rem;
  }
}
