$background-color: #f7f8f6;

$text-primary-color: #141414;

$accent-color-primary: #00a6ff;

$color-white: #ffffff;
$color-black: #030303;

$color-tertiary-light: #0084ff;
$color-tertiary-dark: #412cff;

.container {
  padding: 1.6rem 2.4rem;
  width: 50%;
  background-color: $background-color;
  color: $text-primary-color;
  // border: 1px solid $color-black;
  border-radius: 1rem;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(225, 226, 219, 0.2),
    0 2px 2px 0 rgba(225, 121, 219, 0.14), 0 1px 5px 0 rgba(225, 121, 219, 0.12);
}

.gradient-border {
  position: relative;
  z-index: 2;
  background: #fff;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -2;
    padding: 2px; // Border thickness
    border-radius: inherit;
    background: linear-gradient(
      45deg,
      $color-tertiary-light,
      $color-tertiary-dark
    );
    mask: none;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

.outline {
  outline: 1px solid lime;
}

.form {
  font-size: 1.6rem;

  &-input {
    font-size: 1.6rem;
    background-color: $color-white;
  }

  &-actionables {
    margin: auto;
    margin-top: auto;

    button {
      font-size: 1.4rem;
    }
  }
}

.help-block {
  color: #ff0000;
}

.error-message {
  padding: 1rem 1.6rem;
  background-color: $text-primary-color;
  color: $accent-color-primary;
  width: max-content;
  border-radius: 1.6rem;
  position: fixed;
  bottom: 8rem;
  right: 2rem;
  animation: fade 2s linear forwards;
  opacity: 1;
  h1 {
    margin-bottom: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
